[Unit]
After=tayga@pp01.service tayga@pp03.service tayga@tu00.service tayga@tu10.service tayga@tu20.service tayga@warp.service tayga@warp2.service tayga@warp3030.service tayga@warp3031.service tayga@warp3032.service tayga@warp3033.service tayga@warp3034.service tayga@warp3035.service tayga@warp3036.service tayga@warp3037.service tayga@mitm.service
Requires=tayga@pp01.service tayga@pp03.service tayga@tu00.service tayga@tu10.service tayga@tu20.service tayga@warp.service tayga@warp2.service tayga@warp3030.service tayga@warp3031.service tayga@warp3032.service tayga@warp3033.service tayga@warp3034.service tayga@warp3035.service tayga@warp3036.service tayga@warp3037.service tayga@mitm.service

[Service]
Type=oneshot

; nat64
; require systemctl enable
ExecStart=/usr/sbin/ip link set nat64pp01 up
ExecStart=/usr/sbin/ip link set nat64pp03 up
ExecStart=/usr/sbin/ip link set nat64tu00 up
ExecStart=/usr/sbin/ip link set nat64tu10 up
ExecStart=/usr/sbin/ip link set nat64tu20 up
ExecStart=/usr/sbin/ip link set nat64warp up
ExecStart=/usr/sbin/ip link set nat64warp3030 up
ExecStart=/usr/sbin/ip link set nat64warp3031 up
ExecStart=/usr/sbin/ip link set nat64warp3032 up
ExecStart=/usr/sbin/ip link set nat64warp3033 up
ExecStart=/usr/sbin/ip link set nat64warp3034 up
ExecStart=/usr/sbin/ip link set nat64warp3035 up
ExecStart=/usr/sbin/ip link set nat64warp3036 up
ExecStart=/usr/sbin/ip link set nat64warp3037 up
ExecStart=/usr/sbin/ip link set nat64warp2 up
ExecStart=/usr/sbin/ip link set nat64mitm up
ExecStart=/usr/sbin/ip route add 192.168.1.0/24 dev nat64pp01
ExecStart=/usr/sbin/ip route add 192.168.3.0/24 dev nat64pp03
ExecStart=/usr/sbin/ip route add 192.168.4.0/24 dev nat64tu00
ExecStart=/usr/sbin/ip route add 192.168.10.0/24 dev nat64tu10
ExecStart=/usr/sbin/ip route add 192.168.20.0/24 dev nat64tu20
ExecStart=/usr/sbin/ip route add 192.168.35.0/24 dev nat64warp
ExecStart=/usr/sbin/ip route add 172.31.30.0/24 dev nat64warp3030
ExecStart=/usr/sbin/ip route add 172.31.31.0/24 dev nat64warp3031
ExecStart=/usr/sbin/ip route add 172.31.32.0/24 dev nat64warp3032
ExecStart=/usr/sbin/ip route add 172.31.33.0/24 dev nat64warp3033
ExecStart=/usr/sbin/ip route add 172.31.34.0/24 dev nat64warp3034
ExecStart=/usr/sbin/ip route add 172.31.35.0/24 dev nat64warp3035
ExecStart=/usr/sbin/ip route add 172.31.36.0/24 dev nat64warp3036
ExecStart=/usr/sbin/ip route add 172.31.37.0/24 dev nat64warp3037
ExecStart=/usr/sbin/ip route add 192.168.34.0/24 dev nat64warp2
ExecStart=/usr/sbin/ip route add 192.168.80.0/24 dev nat64mitm
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:1::/96 dev nat64pp01
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:3::/96 dev nat64pp03
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:4::/96 dev nat64tu00
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:10::/96 dev nat64tu10
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:20::/96 dev nat64tu20
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:35::/96 dev nat64warp
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3030::/96 dev nat64warp3030 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3031::/96 dev nat64warp3031 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3032::/96 dev nat64warp3032 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3033::/96 dev nat64warp3033 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3034::/96 dev nat64warp3034 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3035::/96 dev nat64warp3035 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3036::/96 dev nat64warp3036 metric 0
ExecStart=/usr/sbin/ip -6 route add 2606:4700:3037::/96 dev nat64warp3037 metric 0
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:34::/96 dev nat64warp2
ExecStart=/usr/sbin/ip -6 route add 64:ff9b:1:80::/96 dev nat64mitm

; L-flag filtering
ExecStart=/usr/sbin/ip -6 route add unreachable 2001:4860:4840::/42
ExecStart=/usr/sbin/ip -6 route add unreachable 2606:4700:4700::/40
ExecStart=/usr/sbin/ip -6 route add unreachable 2606:4700::6812:1400/119

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
